#--------------------------------------------------
#
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks
Options -MultiViews

# Activation du module de réécriture d'URL :
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} ^(?:www\.)?simetricks\.com(?:.*)$ [nc]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} ^(?:www\.)?simetricks\.fr(?:.*)$ [nc]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#--------------------------------------------------
# Règles de réécriture d'URL pour l'Admin :
#--------------------------------------------------

# Réécrit une URL de l'interface d'admin de type admintricks/xxx/yyy/zzz en index.php?controller=xxx&action=yyy&id=zzz
RewriteRule ^admintricks?/?([a-zA-Z]*)?/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L]

# Réécrit une URL de l'interface d'admin de type admintricks/xxx/yyy en index.php?controller=xxx&action=yyy
RewriteRule ^admintricks?/?([a-zA-Z]*)?/?([a-zA-Z]*)?/?$ index.php?controller=$1&action=$2 [NC,L]

# Réécrit une URL de l'interface d'admin de type admintricks/xxx/yyy en index.php?controller=xxx&action=yyy
RewriteRule ^admintricks?/?([a-zA-Z]*)?/?$ index.php?controller=$1 [NC,L]

# Réécrit une URL pour la Pagination des Items sélectionnés par Ajax
RewriteRule ^admintricks?/?extendedcardsadmin?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=extendedcardsadmin&action=filtercategory&catid=$1&id=$2 [NC,L]


#--------------------------------------------------
# Règles de réécriture d'URL pour le Front :
#--------------------------------------------------

# Réécrit une URL de type xxx/yyy/zzz en index.php?controller=xxx&action=yyy&id=zzz
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L]

# Réécrit une URL de type xxx/yyy/zzz en index.php?controller=xxx&action=yyy&id=zzz&pageitems=iii
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9\-]+)?/?$ index.php?controller=$1&action=$2&id=$3&page=$4&slug=0 [NC,L]

# Réécrit une URL pour Reset Password
# RewriteRule ^login/resetpassword?&token=?([a-zA-Z0-9]*)?&email=?([a-zA-Z0-9]*)?&username=?([a-zA-Z0-9]*)?/?$ index.php?controller=login&action=resetpassword&token=$1&email=$2&username=$3 [NC,L]

# Réécrit une URL de type xxx/yyy/zzz en index.php?controller=xxx&action=yyy&id=zzz&id_comment=iii
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3&id_comment=$4 [NC,L]

#--------------------------------------------------
# Règles de réécriture d'URL pour la Sitemap :
#--------------------------------------------------

RewriteEngine On
RewriteRule ^sitemap\.xml/?$ sitemap
